 /* Base styles for desktop */
 .container-grid {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: gold;
}

.grid-item{
    margin: 5px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
}

/* Grid container */
.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Responsive styles for tablets */
@media (max-width: 700px) {
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive styles for mobile */
@media (max-width: 450px) {
    .container-grid {
        grid-template-columns: 1fr;
    }
}